.page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.title{
    font-weight: bold;
    color: red;
    font-size: 2rem;
}

.buttondiv{
    display: flex;
    gap: 20px
}

.button{
    width: 100px;
    height: fit-content;
    padding: 10px;
    border: 2px black solid;
    font-weight: 500;
}

.button:hover{
    background: orangered;
}